version: "3.9"

services:
  app:
    build: .
    container_name: flask-app
    ports:
      - "8000:8000"
    env_file:
      - .env.dev
    depends_on:
      - redis

  redis:
    image: redis:7
    container_name: redis-db
    command: ["redis-server", "--appendonly", "yes"]
    volumes:
      - redis_data:/data

volumes:
  redis_data:

